@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
    position: relative;
    height: 100vh;

}
.header__slider{
    &-item {
        height: 100vh;
        background-image: url(../images/header_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        position: relative;
    }

}
.slider-item__info{
    position: absolute;
    right: 80px;
    bottom: 116px;
    text-align: right;
}
.slider-item__info-subtitle{
    margin-bottom: 5px;
}
.slider-item__info-subtext{
    margin-bottom: 8px;
}
.slider-item__info-title{
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;

    margin-bottom: 48px;
}
.slider-item__info-text{
font-weight: 800;
font-size: 40px;
line-height: 46px;
margin-bottom: 20px;
}
.slider-arrows{
    position: absolute;
    top:40px;
    right:80px;
    cursor: pointer;
    z-index: 4;
}
.slider-arrows__left{
    right:125px;
}
.slider-dots{
    position: absolute;
    right: 50px;
    bottom: 36px;
    max-width: 920px;
    width: 100%;
    .slick-current{
        .dots-box{
        border-color: $green;}
    
    }
}
.dots-box{
    width: 200px;
    display: flex;
    justify-content: space-between;
    height: 28px;
    align-items: center;
    border-top: 4px solid #fff;
    padding-top: 6px;
    &__number{
        font-weight: 800;
        font-size: 24px;
        line-height: 34px;
    }
    &__name{
        font-weight: 300;
        line-height: 19px ;
        text-transform: capitalize;
    }

}
.header__aside{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-right: 1px solid rgba(#fff, 0.25);
    height: 100vh;
    text-align: center;

}
.header-title{
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    opacity: 0.07;
    max-width: 467px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.menu{
    padding-top: 40px;
      a{
      }
      span{
          display: block;
          font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 3px;
        padding-top: 6px;
        margin-bottom: 20px;
        text-transform: capitalize;
      }
    }
.header_date{
    font-weight: 800;
    font-size: 72px;
    line-height: 64px;
    span{
        padding-top: 15px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.4px;
        margin-bottom: 30px;
        display: block;

    }
}
.header__location{
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.05px;
    position: relative;
    padding-left: 19px;
    text-transform: capitalize;
    &::before{
        content:"";
        position: absolute;
        width: 11px;
        height: 13px;
        background-image: url(../images/marker.svg);
        left: 0;
        top: 0;
    }
}
.header__search{
    margin-top: 15px;
    margin-bottom: 35px;
}
.header__map{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}
.header_arrows{
    position: absolute;
    left: 210px;
    bottom: 40px;
    z-index: 3;
}
.line-animation{
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: animdash 5s infinite 6s;
}

@keyframes animdash {
    to{
        stroke-dashoffset: 0;
    }
}
.surf{
    padding: 160px 0 210px;
    background-image: url(../images/surf-bg-pinter.png);
    background-position: right 200px;
    background-repeat: no-repeat;
    background-size: auto;
}
.surf__subtitle{
    text-align: right;
    padding-right: 80px;
    margin-top: -86px;
}
.surf-slider{
    padding-top: 110px;
    .slider-arrows{
        top: 50px;
        opacity: 0.25;
    }
}
.surf-box{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__inner{
        min-height: 750px;
        background: rgba(#1C2121,0.85);
        position: relative;
    }
}
.surf-box__inner-title{
font-weight: 800;
font-size: 40px;
line-height: 36px;
padding: 72px 0 0  40px;
width: 140px;

}
.surf-box__inner-location{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    transform: rotate(-90deg);
    position: absolute;
    left: 40px;
    bottom: 80px;
    width: 0;
    height: 0;
    white-space: nowrap;
    span{
        font-weight: 100;
    }
}
.surf-box__inner-btn{
bottom: 0;
position: absolute;
text-align: center;
left:0;
right:0;
}








@import "media";
